<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Setting" type="ChatAssistant.Program, Program" />
	</configSections>
	<setting>
		<gpt model="gpt-4-0613" key="" />
		<proxy useProxy="true" proxyType="SOCKS5" proxyIp="127.0.0.1" proxyPort="10808" />
	</setting>
</configuration>